<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/styles.css">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet"> <!-- Nunito Font -->

<head>
    <title>Prediction Result</title>
</head>

<body>
    <h1>Prediction Result (Model 2)</h1>

    <p>Risk Category: <span th:text="${riskCategory}">[Risk Category]</span></p>
    <p>Risk Score: <span th:text="${riskScore}">[Risk Score]</span></p>

    <a href="/predict2">Back to the form</a>
</body>

</html>
